*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: url(../img/1.jpg);
}

.container {
	max-width: 700px;
	width: 100%;
	background: #fff;
	padding: 30px 30px;
	border-radius: 20px;

}

.container .title {
	font-size: 25px;
	font-weight: 500;

}

.container .title::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .user-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}

form .user-details .input-box {
	margin-bottom: 15px;
	width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}
.user-details .input-box input {
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;

}

form .clean-details .clean-title {
	font-size: 20px;
	font-weight: 500;
}

form .clean-details .category {
	display: flex;
	width: 90%;
	margin: 14px 0;
	justify-content: space-between;
}

.clean-details .category label {
	display: flex;
	align-items: center;
}

.clean-details .category .dot {
	height: 18px;
	width: 18px;
	background: #d9d9d9;
	border-radius: 50%;
	margin-right: 10px;
	border: 5px solid transparent;
}

#dot-1:checked ~ .category label .one{
	border-color: #d9d9d9;
	background: #9b59b6;
}
#dot-2:checked ~ .category label .two{
	border-color: #d9d9d9;
	background: #9b59b6;
}
#dot-3:checked ~ .category label .three{
	border-color: #d9d9d9;
	background: #9b59b6;
}
#dot-4:checked ~ .category label .four{
	border-color: #d9d9d9;
	background: #9b59b6;
}

#m-1:checked ~ .category label .a{
	border-color: #d9d9d9;
	background: #9b59b6;
}
#m-2:checked ~ .category label .b{
	border-color: #d9d9d9;
	background: #9b59b6;
}
#m-3:checked ~ .category label .c{
	border-color: #d9d9d9;
	background: #9b59b6;
}
#m-4:checked ~ .category label .d{
	border-color: #d9d9d9;
	background: #9b59b6;
}

.clean-details .category .m {
	height: 18px;
	width: 18px;
	background: #d9d9d9;
	border-radius: 50%;
	margin-right: 10px;
	border: 5px solid transparent;
}

#dop-3:checked ~ .category label .q{
	border-color: #d9d9d9;
	background: #9b59b6;
}
#dop-4:checked ~ .category label .w{
	border-color: #d9d9d9;
	background: #9b59b6;
}
#dop-5:checked ~ .category label .r{
	border-color: #d9d9d9;
	background: #9b59b6;
}
#dop-6:checked ~ .category label .t{
	border-color: #d9d9d9;
	background: #9b59b6;
}

#dop-7:checked ~ .category label .y{
	border-color: #d9d9d9;
	background: #9b59b6;
}
#dop-8:checked ~ .category label .u{
	border-color: #d9d9d9;
	background: #9b59b6;
}
#dop-9:checked ~ .category label .i{
	border-color: #d9d9d9;
	background: #9b59b6;
}
#dop-10:checked ~ .category label .o{
	border-color: #d9d9d9;
	background: #9b59b6;
}

.clean-details .category .dop {
	height: 18px;
	width: 18px;
	background: #d9d9d9;
	border-radius: 50%;
	margin-right: 10px;
	border: 5px solid transparent;
}


form input[type="radio"] {
	display: none;
}

form input[type="checkbox"] {
	display: none;
}


.price {
	text-align: center;
}
.price .output-box {
	font-size: 22px;
	text-align: center;

}

form .button {
	height: 45px;
	margin: 20px 0;
	background-color: #d9d9d9;

}
form .button input {
	height: 100%;
	width: 100%;
	outline: none;
	color: #fff;
	border: none;
	font-size: 18px;
	letter-spacing: 1px;
	border-radius: 5px;
	font-weight: 500;
	background: #dc143c;

}

@media (max-width: 584) {
	.container{
		max-width: 100%;
	}
	form .user-details .input-box {
	margin-bottom: 15px;
	width: 100%;
	}
	form .clean-details .category{
		width: 100%;
	}
	.container form .user-details {
		max-height: 300px;
		overflow-y: scroll;
	}
	.user-details::-webkit-scrollbar{
		width: 100%;
	}
}


.promo-d .input-box input {
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 15px;

}

.promo {
	display: flex;
}
.but-det {
	font-family: sans-serif;
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #fff;
	padding-left: 15px;
	font-size: 16px;
	background-color: #9acd32;
	outline: none;
	cursor: pointer;
	transition: 0.3s;	
	margin: 0 auto;
	color: #fff;
}

.header_body {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

.header_logo {
	flex: 0 0 60px;
	border-radius: 50%;
	overflow: hidden;
}

.header_logo img {
	max-width: 100%;
	display: block;
}

.header-list {
	display: flex;
}
.header-list li {
	list-style: none;
	margin: 0px 5px 0px 50px;
	padding: 0px 0 0  0 ;
	color: #black;
	text-transform: uppercase;
	font-size: 19px;
	text-decoration: none;
}

a {
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  width: 120%;
  text-align: center;
  line-height: 2;
  color: black;
  border-radius: 5px;
  font-size: 20px;
  background-color: #9acd32;

}

	

